footer {
  margin-top: 2rem;
}

button[type="reset"] {
  background: none;
  border: none;
  color: rgb(230, 40, 40);
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: rgb(238, 96, 96);
  }
}
