.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: auto;
  max-width: 480px;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
}

#time-3-icon {
   fill: rgb(223, 33, 230);
}
